<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ventas</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-primary">Nuevo Producto</a>
		<a th:href="@{/vender}" class="btn btn-primary">Vender</a>
		<a th:href="@{/listar}" class="btn btn-primary">Volver</a>
		<table class="table">
			<thead>
				<tr>
					<td>ID</td>
					<td>NOMBRE</td>
					<td>PRECIO</td>
					<td>CANTIDAD</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="venta:${ventas}">
					<td th:text="${venta.id}"></td>
					<td th:text="${venta.nombre}"></td>
					<td th:text="${venta.precio}"></td>
					<td th:text="${venta.cantidad}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>